

svg {
  font-size: 14px;
  display: block;
  margin: 0 auto;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.multibrush-fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.setosa {
  stroke: #800;
}

.versicolor {
  stroke: #080;
}

.virginica {
  stroke: #008;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.icon-remove {
  cursor: pointer;
}


.multibrush-dot-fade {
  opacity: .3;
}